:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --background-color: #FFFFFF;
    --foreground-color: #FFFFFF;
    --font-color: #000000;
    --border-color: #AAAAAA;
    --box-shadow-color: rgba(0, 0, 0 0.1);
    --tick-background-color: #000000;
}

*,
* {
    color: var(--font-color);
}

body {
    margin: auto;
    max-width: 600px;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: var(--background-color);
}

dialog {
    min-width: 600px;
    padding: 18px;
    z-index: 9;
    background-color: white;
    border: 1px dashed var(--border-color);
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-nav {
    padding: 0 0 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-nav h2 {
    margin: 0;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.increment-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticks {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tick {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--tick-background-color);
}

.tick :last-child {
    background-color: var(--foreground-color);
}

.tick-tooltip {
    padding: 8px;
    display: none;
    position: absolute;
    width: 280px;
    z-index: 9;
    background-color: white;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.delete-hint {
    display: none;
}

.tick-tooltip>* {
    font-size: 10px;
}

.tick:hover .tick-tooltip {
    display: block;
}

.tick:hover .delete-hint {
    display: flex;
}

.theme-select-container {
    padding-top: 8px;
    display: flex;
    gap: 8px;
}

#toggle-default-theme {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#toggle-dark-theme {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: rgb(114, 137, 218);
    background: linear-gradient(90deg, rgba(114, 137, 218, 1) 0%, rgba(30, 33, 36, 1) 100%);
}